MODE=development
ADDR=:8080
DATABASE_URL=postgresql://postgres:secret@localhost:5432/musicdb?sslmode=disable
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
BUCKET_NAME=mydal
LOG_LEVEL=debug